.bed-container {
    border: 2px solid #E7E7E7;
    border-radius: 8px;
    box-shadow: 2px 4px 4px #E7E7E7 ;
    width: 17vw;
}

.bed-texts-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
}

.setting-icon {
    padding-top: 8px;
    padding-right: 8px;
}
.setting-icon:hover {
    cursor: pointer;
}

.add-icon:hover {
    cursor: pointer;
}

.bed-label {
    color: #F80D38;
    font-size: 20px;
    font-weight: bold;
}

.patient-name-label {
    font-size: 16px;
    font-weight: bold;
}


/* dropdown */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 8px 12px;
  }
  
  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }